HOMEVAULT_APP_NAME=HomeVault API
HOMEVAULT_DATABASE_URL=sqlite:///./homevault.db
HOMEVAULT_SECRET_KEY=replace-this-with-a-long-random-secret
HOMEVAULT_ACCESS_TOKEN_MINUTES=480
HOMEVAULT_ADMIN_USERNAME=admin
HOMEVAULT_ADMIN_PASSWORD=ChangeMe123!
